body {
  font-family: Arial, sans-serif;
  background-color: #e7e7e7;
}

.calculator {
  max-width: 500px;
   max-height: 600px;
  margin: 0 auto;
  background-color: #7e0636;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.inputbox{
    width: 475px;
}
input.equals{

    width: 145px;
}

#result {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  height: 400px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
